<div class="grid grid-cols-1 md:grid-cols-2 gap-10 w-full max-w-screen-lg mx-auto">
    <fuse-card class="flex flex-col gap-5 p-6">
        <div class="bg-gradient-to-r from-primary-400 to-primary-800 -mx-6 px-6 py-4 text-gray-50 text-center font-extrabold">DAO Governance is Coming Soon</div>
        <p class="text-lg">When the DAO goes live, Aura stakeholders will qualify for voting on network issues with varying topics like:</p>

        <div class="rounded-2xl text-white p-6 flex items-center h-35 govern-item game">
            New Games
        </div>

        <div class="rounded-2xl text-white p-6 flex items-center h-35 govern-item engineer">
            Engineering
        </div>

        <div class="rounded-2xl text-white p-6 flex items-center h-35 govern-item creator">
            Creator Content
        </div>

        <div class="rounded-2xl text-white p-6 flex items-center h-35 govern-item economic">
            Economic Direction
        </div>
    </fuse-card>

    <fuse-card class="flex flex-col gap-2 p-6 text-lg">
        <mat-icon class="w-30 h-30" svgIcon="user_group_icon" color="primary"></mat-icon>
        <h4 class="text-4xl font-extrabold">Community Votes</h4>
        <p>Before DAO governance goes live, Ready will periodically make voting on topics available here.</p>
        <p>If you have at least 1 Aura staked, yuo'll get one vote for any issue surfaced here.</p>
        <p>You'll receive a notification on the dashboard when a poll becomes available.</p>
    </fuse-card>
</div>
